
@{
    ViewBag.Title = "Index";
}

<!--<table class="layui-hide" id="jobtable" lay-filter="jobtable"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#jobtable'
            , url: '/JobManage/GetList'-->
@* , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
        title: '提示'
        , layEvent: 'LAYTABLE_TIPS'
        , icon: 'layui-icon-tips'
    }]*@
<!--, title: '用户数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'JobName', title: '职位名称' }
                , { field: 'JobCode', title: '职位代码' }
                , { field: 'CreateDate', title: '修改时间' }
                , { field: 'ModifyDate', title: '创建时间' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , page: true
        });






        //监听行工具事件
        table.on('tool(jobtable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>-->




<table class="layui-hide" id="jobtable" lay-filter="jobtable"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table', 'util'], function () {
        var table = layui.table;
        var util = layui.util;

        table.render({
            elem: '#jobtable'
            , url: '/JobManage/GetList'
            , height: 'full-120'   // 可以去掉或调整，避免分页和表格之间空白
            , title: '职位数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'JobName', title: '职位名称' }
                , { field: 'JobCode', title: '职位代码' }
                , {
                    field: 'CreateDate',
                    title: '创建时间',
                    templet: function (d) {
                        if (!d.CreateDate) return "";
                        // ⭐ 提取 /Date(1748933721993)/ 里的数字部分
                        var ts = parseInt(d.CreateDate.replace(/\/Date\((\d+)\)\//, "$1"));
                        return util.toDateString(ts, 'yyyy-MM-dd HH:mm:ss');
                    }
                }
                , {
                    field: 'ModifyDate',
                    title: '修改时间',
                    templet: function (d) {
                        if (!d.ModifyDate) return "";
                        var ts = parseInt(d.ModifyDate.replace(/\/Date\((\d+)\)\//, "$1"));
                        return util.toDateString(ts, 'yyyy-MM-dd HH:mm:ss');
                    }
                }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , page: true
        });

        // 监听行工具事件
        table.on('tool(jobtable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2,
                    value: data.JobName
                }, function (value, index) {
                    obj.update({
                        JobName: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>


