
@{
    ViewBag.Title = "EditPassWord";
}

@using TC_HengJiuGame.Models;
@{
    T_Users t_Users = new T_Users();
    if (ViewBag.UserModel != null)
    {
        t_Users = ViewBag.UserModel;
    }
}


<style>
    .centered-form .layui-form-item {
        text-align: center; /* 整个表单项居中 */
        margin-top: 30px;
    }

    .centered-form .layui-input-wrap {
        display: inline-block; /* 让输入框宽度生效 */
        width: 300px; /* 固定宽度 */
    }
</style>

<form class="layui-form centered-form">
    <input type="hidden" name="ID" value="@t_Users.ID">
    <div class="layui-form-item">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-password"></i>
            </div>
            <input type="text" name="oldPassWord" lay-verify="required" lay-reqtext="请输入原密码" placeholder="原密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-password"></i>
            </div>
            <input type="password" id="newPassWord" name="newPassWord" lay-verify="required" lay-reqtext="请输入新密码" placeholder="新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-password"></i>
            </div>
            <input type="password" name="confirmPassword" value="" lay-verify="required|confirmPassword" placeholder="确认密码" autocomplete="off" class="layui-input" lay-affix="eye">
        </div>
    </div>
    <div class="layui-form-item" style="text-align: center;">
        <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">修改</button>
    </div>
</form>
<script>
    layui.use(['form', 'laydate', 'util'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var util = layui.util;

        // 自定义验证规则
        form.verify({
            pass: function (value) {
                if (!/(.+){6,12}$/.test(value)) {
                    return '密码必须 6 到 12 位';
                }
            }
        });
        form.verify({
            // 确认密码
            confirmPassword: function (value, item) {
                var passwordValue = $('#newPassWord').val();
                if (value !== passwordValue) {
                    return '两次新密码输入不一致';
                }
            }
        });


        // 提交事件
        form.on('submit(demo1)', function (data) {
            var field = data.field; // 获取表单字段值

            // 此处可执行 Ajax 等操作
            $.ajax({
                url: "/Home/ChangePassWord",
                type: "post",
                data: field,
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.msg, { icon: 6, time: 1000 }, function () {
                            // ✅ 关键：跳转顶层窗口，而不是当前 iframe
                            window.top.location.replace("/Login/Index");
                        });
                    } else {
                        layer.msg(res.msg, { icon: 5, time: 2000 });
                    }
                }
            })



            // …
            return false; // 阻止默认 form 跳转
        });



    });
</script>